.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to right, #cd81f9 0%, #a009f7 100%); */
}

.login .login__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.login__img {
  display: flex;
  justify-content: center;
  height: max-content;
}

.login .login__container--left {
  width: 50%;
  background: #000842;
}

.login .login__container--left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login .login__container--right {
  width: 40%;
  padding: 50px;
}

.login .login__container--right .login__logo {
  text-align: center;
}

.login .login__container--right .login__logo img {
  width: auto;
  height: 100%;
}


.btn-grad {background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.login .login__container--right .login__title {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  /* 133.333% */
}

.login .login__forgot-password {
  color: var(--color-purple)
}