@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&display=swap');

:root {
  --color-purple: #7152F3;
  --color-purple-white: #F3F1F9;
  --color-gray: #A2A1A8;
  --bg-gray-one: rgba(162, 161, 168, 0.10);
  --bg-gray-three: rgba(162, 161, 168, 0.20);
  --bg-gray-two: #F6F6F7;
  --bg-purple-white: rgba(113, 82, 243, 0.10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.contain {
  padding: 0 30px;
}

/* Table */
.table {
  overflow: auto;
}

.table__icon {
  font-size: 2rem;
  cursor: pointer;
}

.table__icon:hover {
  color: var(--color-purple);
}

/* End Table */

/* Input */
.input {
  width: 100%;
}

/* End Input */

/* Modal */
.modal__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

a {
  color: #000000;
}

/* End Modal */